extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Joshua Fielding

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I am a frontend developer. This portfolio site is project 6 of my Treehouse FullStack JavaScript TechDegree. In this project we focused on learning Node.js and Express. It was fun!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li CSS / Sass
          li HTML
          li Express 
          li Photoshop
          li InDesign
          li jQuery
          li Digital Design
        h6 Contact Info

        ul
          li 61+ 0423 196 816
          li josh.e.fielding@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/joshua-fielding-40905610a/', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/luxjoshyua', target="_blank") GitHub
        a.button.expanded(href='https://luxjoshyua.github.io/portfolio/', target="_blank") Personal Website
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  