extends layout.pug

block content
  div.error-wrapper
    .error-content
      h1.error-text-center=`${error.message}!`
      br
      h6.error-text-center See below for the error details
      h1.error-text-center.status=`Status: ${error.status}`
        br
        p=`This is the error stack: ${error.stack}`



